  <div class="row px-2 py-4 p-md-5 bg-secondary text-light">
    <div class="col-12 col-md-6">
      <h1>About Virtual Game Night</h1>
      <hr/>
      <p class="lead">Play cards (and soon board games) in real time, online, in-browser, with your friends or family. Built to be scalable and provide excellent user experience for touch screen and traditional mouse/keyboard controls.</p>
      <hr/>
    </div>
  </div>
  <div class="row px-2 py-4 p-md-5 bg-secondary text-light">
    <div class="col-12">
      <hr/>
      <footer>&#169; 2020 David Horning</footer>
    </div>
  </div>