<main id="room" class="px-0"><div id="room-spinner" class="spinner-border" role="status"><span class="sr-only">Room Loading...</span></div></main>
<div class="row">
  <nav id="sidebarMenu" class="col-12 col-md-3 col-lg-2 bf-light sidebar">
    <div id="chatCard" class="card">
      <div class="card-header h-auto p-0" id="headingChat">
        <h6 class="sidebar-heading justify-content-between align-items-center text-muted">
          <button id="btnCollapseChat" class="btn btn-light btn-block btn-sm p-0 disabled sidebtn" border="" type="button" aria-expanded="true" aria-controls="collapseChat">Room Chat</button>
        </h6>
      </div>
      <div id="collapseChat" class="collapse show" aria-labelledby="headingChat">
        <div class="card-body overflow-auto">
          <textarea id="chatBox" class="form-control" readonly></textarea>
          <div class="input-group mb-3">
            <input id="chatInput" type="text" class="form-control" placeholder="Message">
            <div class="input-group-append">
              <button class="btn btn-outline-secondary" type="button" id="button-chatSend">Send</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div id="userCard" class="card">
      <div class="card-header p-0" id="headingUser">
        <h6 class="sidebar-heading justify-content-between align-items-center text-muted">
          <button id="btnCollapseUser" class="btn btn-light btn-block btn-sm p-0 disabled sidebtn" type="button" aria-expanded="true" aria-controls="collapseUser">User List</button>
        </h6>
      </div>
      <div id="collapseUser" class="collapse show" aria-labelledby="headingUser">
        <div class="card-body overflow-auto">
          <ul id="userList" class="nav flex-column">
          </ul>
        </div>
      </div>
    </div>
    <div id="startCard" class="card">
      <div class="card-header p-0" id="headingStart">
        <h6 class="sidebar-heading justify-content-between align-items-center text-muted">
          <button id="btnCollapseStart" class="btn btn-light btn-block btn-sm p-0 disabled sidebtn" type="button" aria-expanded="true" aria-controls="collapseStart">Getting Started</button>
        </h6>
      </div>
      <div id="collapseStart" class="collapse show" aria-labelledby="headingStart">
        <div class="card-body overflow-auto">
          <button id="createDeckButton" class="btn btn-primary">Create New Deck</button>
          <p class="lead">To bring up more options for an object try right-clicking or long-pressing on it.</p>
          <p class="lead">To drag an entire stack of cards, drag the tab with the card count.</p>
        </div>
      </div>
    </div>
  </nav>
</div>

<div class="dropdown-menu" id="context-menu" data-reference="parent"></div>
<!-- Modal -->
<div class="modal fade" id="notifModal" tabindex="-1" aria-labelledby="notifModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="notifModalLabel">Connection Error</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" id="notifModalText">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
<script>
  var chatTween = gsap.to('#collapseChat', {height: 0, duration: 0.35});
  var userTween = gsap.to('#collapseUser', {height: 0, duration: 0.35});
  var startTween = gsap.to('#collapseStart', {height: 0, duration: 0.35});
  chatTween.progress(0).pause();
  userTween.progress(0).pause();
  startTween.progress(0).pause();
  $('#buttonMenu').on('click', function () {
    $('.sidebar').toggleClass('nomenu');
  });
  $('#btnCollapseChat').on('click', function () {
    if(chatTween.progress() == 0){
      $('#collapseChat').addClass('overflowHidden');
      $('#collapseChat').removeClass('overflowAuto');
      chatTween.restart();
    }
    else{
      $('#collapseChat').addClass('overflowAuto');
      $('#collapseChat').removeClass('overflowHidden');
      chatTween.progress(0.99);
      chatTween.reverse();
    }
  });
  $('#btnCollapseUser').on('click', function () {
    if(userTween.progress() == 0){
      $('#collapseUser').addClass('overflowHidden');
      $('#collapseUser').removeClass('overflowAuto');
      userTween.restart();
    }
    else{
      $('#collapseUser').addClass('overflowAuto');
      $('#collapseUser').removeClass('overflowHidden');
      userTween.progress(0.99);
      userTween.reverse();
    }
  });
  $('#btnCollapseStart').on('click', function () {
    if(startTween.progress() == 0){
      $('#collapseStart').addClass('overflowHidden');
      $('#collapseStart').removeClass('overflowAuto');
      startTween.restart();
    }
    else{
      $('#collapseStart').addClass('overflowAuto');
      $('#collapseStart').removeClass('overflowHidden');
      startTween.progress(0.99);
      startTween.reverse();
    }
  });
</script>
<script>const ws = new WebSocket("wss://{{serverAddress}}/"); const MYUSERID = "{{userid}}";</script>
<script src="javascripts/Movable.js"></script>
<script src="javascripts/Card.js"></script>
<script src="javascripts/CardStack.js"></script>
<script src="javascripts/Deck.js"></script>
<script src="javascripts/ClientObjects.js"></script>
<script src="javascripts/site.js"></script>