  
<div id="room" class="container-fluid">
<h3>Who's here?</h3>
<div id="connectedUsers" class="container">
</div>
</div>
<div class="dropdown-menu" id="stack-menu" data-reference="parent">
  <a class="dropdown-item" href="#" id="stack-shuffle">Shuffle</a>
  <a class="dropdown-item" href="#" id="stack-deal">Deal</a>
  <a class="dropdown-item" href="#" id="stack-flip">Flip</a>
  <a class="dropdown-item" href="#" id="stack-split">Split</a>
  <a class="dropdown-item" href="#" id="stack-explode">Explode</a>
  <div class="dropdown-divider"></div>
  <a class="dropdown-item" href="#" id="stack-fan-down">Fan Down</a>
  <a class="dropdown-item" href="#" id="stack-fan-right">Fan Right</a>
  <a class="dropdown-item" href="#" id="stack-fan-out">Fan Out</a>
  <a class="dropdown-item" href="#" id="stack-no-fan">No Fan</a>
</div>
<div class="dropdown-menu" id="deck-menu" data-reference="parent">
  <a class="dropdown-item" href="#" id="deck-recall">Recall Cards</a>
</div>
<div class="dropdown-menu" id="back-menu" data-reference="parent">
  <a class="dropdown-item" href="#" id="create-deck">Create New Deck</a>
  <a class="dropdown-item" href="#" id="reset-room">Reset Room</a>
</div>
<script src="ClientObjects.js"></script>
<script src="site.js"></script>