<div id="title" class="jumbotron">
  <h1>Hangout Room</h1>
  <p class="text-muted">Social Distancing is Cool 😎</p>
</div>
<div class="container">
  <h2>Join Room</h2>
  <form action="app" method="post">
    {{#if error}}
    <div class="alert alert-danger" role="alert">
      {{error}}
    </div>
    {{/if}}
    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <span class="input-group-text" id="inputGroup-sizing-default">Display Name</span>
      </div>
      <input type="text" name="displayName" class="form-control" required="required" aria-requires="true" aria-label="Display name input" aria-describedby="inputGroup-sizing-default">
      <div class="input-group-append">
        <input class="btn btn-primary" type="submit" value="Join">
      </div>
    </div>
    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <span class="input-group-text" id="inputGroup-sizing-default">Display Color</span>
      </div>
      <div class="container form-control" id="colorSelection"></div>
      <input type="hidden" name="playerColor" id="playerColor">
    </div>
  </form>
</div>
<script>
  createColorSelector();
  function createColorSelector()
  {
    var colSel = document.getElementById("colorSelection");
    var cv = document.createElement("canvas");
    cv.setAttribute('width', 210);
    cv.setAttribute('height', 25);
    var colors = ['#F6511D', '#FFB400', '#00A6ED', '#7FB800', '#0D2C54', '#F2B7C6'];
    var ctx = cv.getContext("2d");
    for(var i = 0; i < colors.length; i++){
      ctx.fillStyle = colors[i];
      ctx.fillRect(i * (cv.width-10)/colors.length + 5, 0, (cv.width-10)/colors.length, cv.height);
    }
    assignInputClickEvent(cv, function(event){
      var colIndex = Math.floor((event.offsetX/cv.getAttribute('width'))*colors.length);
      document.getElementById("playerColor").value = colors[colIndex];
      var ctx = cv.getContext("2d");
      ctx.clearRect(0, 0, cv.width, cv.height);
      for(var i = 0; i < colors.length; i++){
        ctx.fillStyle = colors[i];
        ctx.fillRect(i * (cv.width-10)/colors.length + 5, 0, (cv.width-10)/colors.length, cv.height);
      }
      ctx.lineWidth = 3;
      ctx.strokeStyle='#000000';
      ctx.strokeRect(colIndex * (cv.width-10)/colors.length + 5, 0, (cv.width-10)/colors.length, cv.height);
    });
    colSel.appendChild(cv);
  }
</script>